*{
    padding: auto;
    margin: auto;
}


body{
    background-image: url("https://wallpapers.com/images/hd/rows-and-rows-of-goods-in-a-supermarket-z137yrsy0yzaksnf.jpg") !important;
    background-attachment: fixed;
    background-size: cover;
}

input{
    text-align: center;
}

main{
    height: 100vh;
}