<div class="container">
    <div class="row bg-light bg-gradient cols-1 gy-2"> <!--ROW-->
        <h2 class="text-center col-12 pd-2 ">Invoice Header</h2>
        <div class="col-sm-4 text-center">
            <label for="bill">Bill #</label>
            <input class="form-control" name="bill" type="text">
        </div>
        <div class="col-sm-4 text-center">
            <label for="bill">Bill Date</label>
            <input class="form-control" name="bill" type="date">
        </div>
        <div class="col-sm-4 text-center">
            <label for="bill">Seller</label>
            <input class="form-control" name="bill" type="text">
        </div>
        <div class="col-sm-4 text-center">
            <label for="bill">Customer's ID</label>
            <input class="form-control" name="bill" type="number">
        </div>
        <div class="col-sm-4 text-center">
            <label for="bill">Full Name</label>
            <input class="form-control" name="bill" type="text">
        </div>
        <div class="col-sm-4 text-center">
            <label for="bill">Email</label>
            <input class="form-control" name="bill" type="email">
        </div>
        <div class="col-sm text-center">
            <label for="bill">Address</label>
            <input class="form-control" name="bill" type="text">
        </div>
        <div class="col-sm text-center">
            <label for="bill">Email</label>
            <input class="form-control mb-3" name="bill" type="email">
        </div>
    </div>
</div>